<h1><%= @place["name"] %></h1>

<h2>My Posts</h2>

<div class="row">

  <% for entry in @entries %>
    <div class="cold-sm-6 col-md-4">
    <h3><%= entry["title"] %></h3>
    <h4><%= entry["occurred_on"] %></h4>
      <% if entry.uploaded_image.attached? %>
        <%# use url_for(post.uploaded_image) as attached file's url %>
        <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
      <% else %>
        <%# otherwise display original image url from database column %>
        <img src="<%= entry["image"] %>" class="img-fluid">
      <% end %>
    <p><%= entry["description"] %></p>
    </div>
  <% end %>
    
  


</div>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>"><button class="btn btn-dark"> New Post</button></a>
</p>

<p>
  <a href="/places"><button class="btn btn-dark"> Back to All Places</button></a>
</p>